.navcont {
  background-color: rgb(254, 204, 111);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form-btn {
  background-color: #22668d;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

.col-card1 {
  background-color: rgb(235, 236, 240);
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow {
  box-shadow: 0 45px 65px rgba(0, 0, 0, 0.5), 0 35px 22px rgba(0, 0, 0, 0.16);
}
.row-card {
  width: 60%;
}

.sidebar {
  width: 40%;
}

.forecast-card {
  border-right: 2px solid lightgray;
}

.forecast-card:last-of-type {
  border-right: 0;
}

@media screen and (max-width: 480px) {
  .row-card {
    width: 100%;
  }
}
